# RAG
torch
sentence-transformers 
safetensors
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
chromadb

# server
fastapi
uvicorn
pydantic
pydantic[email]
psycopg2-binary
streamlit

# DB
sqlalchemy
boto3

# Agent
crewai